---
//const { isOpen } = Astro.props
---
<article {...Astro.props}>
  <div>
    <div class="portada">
      <slot name="portada" />
    </div>
    <div class="content">
      <slot name="content" />
    </div>
  </div>
</article>

<style>
  /* Tarjeta */
  article {
    --size-value: 400px;

    height: var(--size-value);
    background-color: gray;
    border-radius: 20px;
    transition: 300ms;
    overflow: hidden;
  }

  article > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
  }

  article[card-state="default"] { width: var(--size-value);}
  article[card-state="open"] { width: calc(var(--size-value) * 2);}
  article[card-state="close"] { width: 0px;}

  /* Contenido */

  .portada, .content {
    aspect-ratio: 1/1;
    height: 100%;
    width: auto;
  }

  .portada {
    z-index: 2;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
  }

  .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    background-color: aqua;
  }
</style>