---
import Layout from '@/layouts/Layout.astro'

import TitleSection from '@/components/common/TitleSection.astro'
import DevMainProjects from '@/components/section_dev/MainProjectsContainer/index.astro'
import DevOtherProjects from '@/components/section_dev/OtherProjectsContainer/index.astro'

import MusicVideoPlayer from "@/components/section_music/MusicVideoPlayer/index.astro"
import Models3DContainer from "@/components/section_model3d/Models3DContainer/index.astro"
---

<Layout>
  <header>
    Header
    - Logotipo
    - Sections
      * Dev
      * Music
      * Animacion
      * 3d model
      * Blog?
  </header>

  <section>
    logo - Frase de presentacion
  </section>

  <section>
    <TitleSection
      titulo="Programación"
    >
      <p>Es una de mis principales habilidades, cuento con experiencia en el <strong>desarrollo de videojuegos</strong> y en la <strong>programación web.</strong> habiendo desarrollado proyectos desde el bocetado inicial hasta la entrega final, y de ser necesario, iteraciones para mejorar o agregar funcionalidades nuevas.</p>
    </TitleSection>

    <DevMainProjects />
    
      - Skills
    <DevOtherProjects />
  </section>

  <section>
    <TitleSection
      titulo="Producción Musical"
    >
      <p>Lo que inicia como un Hobbie desde 2017 hoy se ha convertido en una de mis fortalezas en la <strong>Multimedia.</strong> Cuento con experiencia en <strong>DAWs</strong> como <a href="https://www.image-line.com/">Fl Studio</a> y <a href="https://www.reaper.fm/">Reaper</a>, conocimientos en teoría músical y sobretodo una gran pasión por la música.</p>
    </TitleSection>
    <MusicVideoPlayer />
  </section>

  <section>
    Animacion
    - Descripcion
    - Proyectos en IG y YT
  </section>

  <section>
    <TitleSection
      titulo="Modelado 3D"
    >
      <p>Algunos ejemplos de modelos realizados.</p>
    </TitleSection>
    <Models3DContainer />
  </section>

  <section>
    Blogs?
  </section>

  <footer>
    links y demás
  </footer>
</Layout>
