---
import Layout from '@/layouts/Layout.astro';

import TitleSection from '@/components/common/TitleSection.astro';

import DevProjects from '@/components/DevProjects/DevProjects.astro';
import MusicVideoPlayer from "@/components/MusicVideoPlayer/MusicVideoPlayer.astro"
---

<Layout>
  <header>
    Header
    - Logotipo
    - Sections
      * Dev
      * Music
      * Animacion
      * 3d model
      * Blog?
  </header>

  <section>
    logo - Frase de presentacion
  </section>

  <section>
    Dev
    - Main Projects
      * Imaginatio Web
      * Game
    
      - Skills
    <DevProjects />
  </section>

  <section>
    <TitleSection
      titulo="Producción Musical"
    >
      <p>Lo que inicia como un Hobbie desde 2017 hoy se ha convertido en una de mis fortalezas en la <strong>Multimedia.</strong> Cuento con experiencia en <strong>DAWs</strong> como <a href="https://www.image-line.com/">Fl Studio</a> y <a href="https://www.reaper.fm/">Reaper</a>, conocimientos en teoría músical y sobretodo una gran pasión por la música.</p>
    </TitleSection>
    <MusicVideoPlayer />
  </section>

  <section>
    Animacion
    - Descripcion
    - Proyectos en IG y YT
  </section>

  <section>
    Modelado 3d
    - Modelos
    - Descripcion
  </section>

  <section>
    Blogs?
  </section>

  <footer>
    links y demás
  </footer>
</Layout>
